@model PaginationVM<ItemClientVM>

@{
    int count = (Model.CurrentPage - 1) * Model.Take;
}

<div class="d-flex justify-content-end">
    <div class="input-group mx-3">
        <form asp-action="DeletedItems" asp-controller="Client"
              asp-route-order="@Model.Order">
            <input type="text" class="form-control" placeholder="Search now" name="search" value="@(Model.Search == null? "":Model.Search)">
        </form>
    </div>
    <form asp-action="DeletedItems" asp-controller="Client"
          asp-route-order="@Model.Search" class="my-2 ">
        <select class="form-control form-control-sm rounded-1" onchange="this.form.submit()" name="Order">
            <option selected disabled>Sort by Default</option>
            <option value="1">Comment</option>
            <option value="2">Created at</option>
            <option value="3">Comment by Descending</option>
            <option value="4">Created at by Descending</option>
        </select>
    </form>
    <a asp-controller="Client" asp-action="Index" class="btn btn-success fw-bold fs-6 text-white w-25 m-2">Clients</a>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Deleted Clients table</h4>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                User Image
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                Corporate Name
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var client in Model.Items)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    <img src="@client.AppUser.Img" alt="@client.AppUser.UserName">
                                </td>
                                <td>
                                    @client.AppUser.UserName
                                </td>
                                <td>
                                    @client.Corporate.Name
                                </td>
                                <td>
                                    @if (User.IsInRole(UserRoles.Admin.ToString()))
                                    {
                                        <a asp-action="ReverseSoftDelete" asp-controller="Client" asp-route-id="@client.Id" asp-route-returnurl="@Context.Request.Path.Value" class="btn btn-secondary">
                                            <i class="mdi mdi-backup-restore text-white"></i>
                                        </a>
                                        <a asp-action="Delete" asp-controller="Client" asp-route-id="@client.Id" asp-route-returnurl="@Context.Request.Path.Value" class="btn btn-danger btn-info">
                                            <i class="mdi mdi-delete-forever text-white"></i>
                                        </a>
                                    }
                                    <a asp-action="Detail" asp-controller="Client" asp-route-id="@client.Id" asp-route-returnurl="@Context.Request.Path.Value" class="btn  btn-primary">
                                        <i class="mdi mdi-open-in-new text-white"></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(Model.CurrentPage <= 1 ? "disabled" : "")"><a class="page-link" asp-route-page="@(Model.CurrentPage -1)" asp-action="DeletedItems" asp-controller="Client">Previous</a></li>
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")"><a asp-action="DeletedItems" asp-route-page="@i" asp-controller="Client" class="page-link">@i</a></li>
                    }
                    <li class="page-item @(Model.CurrentPage >= Model.TotalPage ? "disabled" : "")"><a class="page-link" asp-route-page="@(Model.CurrentPage +1)" asp-action="DeletedItems" asp-controller="Client">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>