@model GetBlogVM

<section class="section-full text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Blog Detail</h1>
                <p></p>
                <ol class="breadcrumb">
                    <li>
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Blog">Blogs</a>
                    </li>
                    <li class="active">Blog Detail</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--Section Blog Post-->
<section class="section-md text-left">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-post">
                    <h2>@Model.Name</h2>
                    <hr>
                    <div class="caption-meta">
                        <time datetime="2016">
                            <span class="mdi mdi-calendar"></span>
                            <span>@Model.CreateAt.ToString("MMM dd, yyyy 'at' h:mm tt")</span>
                        </time>
                        <a asp-action="Detail" asp-controller="Agent" asp-route-id="@Model.CreatedBy">
                            <span class="mdi mdi-account"></span>
                            <span>@Model.CreatedBy</span>
                        </a>
                        <a class="comment">
                            <span class="mdi mdi-comment-multiple-outline"></span>
                            <span>@Model.Commnets.Count</span>
                        </a>
                    </div>
                    <img src="@Model.Images.FirstOrDefault(x => x.IsPrimary == true)?.Url" alt="@Model.Name" width="770" height="520">
                    <p>
                        @{
                            for (int i = 0; i < Model.Description.Length; i += 123)
                            {
                                int remainingLength = Math.Min(123, Model.Description.Length - i);
                                string substring = Model.Description.Substring(i, remainingLength);

                                @Html.Raw(substring)

                                if (i + remainingLength < Model.Description.Length)
                                {
                                    <br>
                                }
                            }
                        }
                    </p>
                    <img src="@Model.Images.FirstOrDefault(x => x.IsPrimary == false)?.Url" alt="@Model.Name" width="770" height="520">
                    <div class="blog-post-footer">
                        <h4 class="border-bottom">Share</h4>
                        <div class="icon-group">
                            <a href="@Model.FaceLink" class="icon icon-sm icon-social fa-facebook"></a>
                            <a href="@Model.TwitLink" class="icon icon-sm icon-social fa-twitter"></a>
                            @if (Model.GoogleLink != null)
                            {
                                <a href="@Model.GoogleLink" class="icon icon-sm icon-social fa-google-plus"></a>
                            }
                            <a href="@Model.LinkedLink" class="icon icon-sm icon-social fa-linkedin"></a>
                            <a href="@Model.InstaLink" class="icon icon-sm icon-social fa-instagram"></a>
                        </div>
                    </div>
                    <h4 class="text-center text-sm-left border-bottom">Posted By</h4>

                    @await Component.InvokeAsync("PostedBy", Model.CreatedBy)

                    <h4 class="border-bottom">Related Posts</h4>
                    <div class="row">

                        @await Component.InvokeAsync("Blogs", Model.Id)

                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center text-sm-left">
                                <h4 class="border-bottom">Comments</h4>
                            </div>
                            <div asp-validation-summary="All" class="m-1 text-danger"></div>

                            @foreach (var blogComment in Model.Commnets)
                            {
                                <div class="media media-mod-2 comment">
                                    <div class="media-left round">
                                        <img src="@blogComment.AppUser.Img" alt="@blogComment.AppUser.Name" style="width:70px;height:70px;" width="70" height="70" class="round">
                                    </div>
                                    <div class="media-body">
                                        <p class="h6 text-sushi text-ubold">@blogComment.AppUser.Name @blogComment.AppUser.Surname</p>
                                        <time datetime="2016" class="fa-calendar">@blogComment.CreateAt.ToString("MMM dd, yyyy 'at' h:mm tt")</time>
                                        <p class="text-light">@blogComment.Comment</p>
                                        <form class="text-left offset-11" asp-action="Reply" asp-controller="Blog" asp-route-blogId="@Model.Id" asp-route-blogCommnetId="@blogComment.Id">
                                            <div class="col-xs-9">
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <button type="submit" style="border:none;">
                                                        <span class="fa-mail-reply icon"></span>
                                                        <span class="text-sushi">Reply</span>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <a asp-action="Login" asp-controller="Account" style="border:none;">
                                                        <span class="fa-mail-reply icon"></span>
                                                        <span class="text-sushi">Reply</span>
                                                    </a>
                                                }
                                                <div class="form-group">
                                                    <label name="comment" class="form-label">Enter your message</label>
                                                    <textarea name="comment" class="form-control" value="comment"
                                                              pattern="^[A-Za-z0-9\s,.]+$" title="Comment can only contain letters, numbers, spaces, commas, and periods."></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                foreach (var blogReply in blogComment.Replies)
                                {
                                    <div class="media media-mod-2 comment comment-repost">
                                        <div class="media-left round">
                                            <img src="@blogReply.AppUser.Img" alt="@blogReply.AppUser.Name" style="width:70px;height:70px;" width="70" height="70" class="round">
                                        </div>
                                        <div class="media-body">
                                            <p class="h6 text-sushi text-ubold">@blogReply.AppUser.Name @blogReply.AppUser.Surname</p>
                                            <time datetime="2016" class="fa-calendar">@blogReply.CreateAt.ToString("MMM dd, yyyy 'at' h:mm tt")</time>
                                            <p class="text-light">@blogReply.ReplyComment</p>
                                            <form class="text-left offset-11" asp-action="Reply" asp-controller="Blog" asp-route-blogId="@Model.Id" asp-route-blogCommnetId="@blogComment.Id">
                                                <div class="col-xs-9">
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <button type="submit" style="border:none;">
                                                            <span class="fa-mail-reply icon"></span>
                                                            <span class="text-sushi">Reply</span>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <a asp-action="Login" asp-controller="Account" style="border:none;">
                                                            <span class="fa-mail-reply icon"></span>
                                                            <span class="text-sushi">Reply</span>
                                                        </a>
                                                    }
                                                    <div class="form-group">
                                                        <label name="comment" class="form-label">Enter your message</label>
                                                        <textarea name="comment" class="form-control" value="comment"
                                                                  pattern="^[A-Za-z0-9\s,.]+$" title="Comment can only contain letters, numbers, spaces, commas, and periods."></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                            }
                            <h4 class="border-bottom">Send a Comment</h4>
                            <!-- RD Mailform-->
                            <form class="text-left offset-11" asp-action="Comment" asp-controller="Blog" asp-route-blogId="@Model.Id">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label name="comment" class="form-label">Enter your message</label>
                                            <textarea name="comment" class="form-control" value="comment"
                                                      pattern="^[A-Za-z0-9\s,.]+$" title="Comment can only contain letters, numbers, spaces, commas, and periods."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <button type="submit" class="btn btn-sushi btn-sm">Comment</button>
                                        }
                                        else
                                        {
                                            <a asp-action="Login" asp-controller="Account" class="btn btn-sushi btn-sm">Comment</a>
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="sidebar-module">
                    <h4>Recent Properties</h4>
                    @await Component.InvokeAsync("BlogProduct")
                </div>
                <!-- Sidebar-->
                <div class="sidebar sidebar-mod-2">
                    <div class="sidebar-module">
                        <div class="banner">
                            <img src="~/assets/images/left_sidebar_blog-4.jpg" alt="" width="340" height="500">
                            <div class="banner-text">
                                <h4>Banner 340x500</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>