@model GetAppUserVM

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-3 m-1 w-50">

        <div class="col">
            <div class="card">
                <p class="card-text fw-bold m-2">Profile Image</p>
                <img src="@Model.Img" class="img-fluid rounded-start" alt="@Model.Name">
            </div>
        </div>

        @foreach (var productImage in Model.Images.Where(p => p.IsPrimary == null))
        {
            <div class="col">
                <div class="card ">
                    <p class="card-text fw-bold m-2">Other Images</p>
                    <img src="@productImage.Url" class="img-fluid rounded-start" alt="@Model.Name">
                </div>
            </div>
        }
    </div>
    <div class="card-body m-2">
        <h5 class="card-title">Username: @Model.UserName</h5>
        <p class="card-text">Name: @Model.Name</p>
        <p class="card-text">Surname: @Model.Surname</p>
        <p class="card-text">Email: @Model.Email</p>
        <p class="card-text">First Phone: @(Model.PhoneNumber != null ? Model.PhoneNumber : "N/A")</p>
        <p class="card-text">About: @(Model.About != null ? Model.About : "N/A")</p>
        <p class="card-text">Address: @(Model.Address != null ? Model.Address : "N/A")</p>
        @foreach (var agency in Model.Agencies)
        {
            <p class="card-text">
                Garages: @agency.Name

                @(agency != Model.Agencies[Model.Agencies.Count - 1] ? ", " : "")
            </p>
        }
        <p class="card-text">Facebook: <a href="@(Model.FaceLink != null ? Model.FaceLink : "")">@(Model.FaceLink != null ? Model.FaceLink : "N/A")</a> </p>
        <p class="card-text">Twitter: <a href="@(Model.TwitLink != null ? Model.TwitLink : "")">@(Model.TwitLink != null ? Model.TwitLink : "N/A")</a> </p>
        <p class="card-text">Google Plus: <a href="@(Model.GoogleLink != null ? Model.GoogleLink : "")">@(Model.GoogleLink != null ? Model.GoogleLink : "N/A")</a> </p>
        <p class="card-text">Linked-In: <a href="@(Model.LinkedLink != null ? Model.LinkedLink : "")">@(Model.LinkedLink != null ? Model.LinkedLink : "N/A")</a> </p>
        <p class="card-text">Twiiter: <a href="@(Model.TwitLink != null ? Model.TwitLink : "")">@(Model.TwitLink != null ? Model.TwitLink : "N/A")</a> </p>
    </div>
</div>
<a class="btn btn-light fw-bold fs-4" asp-action="Index" asp-controller="User">Back</a>


