@model HomeVM

@inject LayoutServices service

@{
    Dictionary<string, string> setting = await service.GetSettingsAsync();
}

@Html.Raw(TempData["Message"])

<section>
    <!--Swiper-->
    <div data-height="" data-min-height="600px" class="swiper-container swiper-slider">
        <div class="swiper-wrapper">
            @foreach (var slider in Model.Pagination.Item.Products.Take(3))
            {
                <div data-slide-bg="@Url.Content($"{slider.Images.FirstOrDefault(x=> x.IsPrimary == true).Url}")" class="swiper-slide">
                    <div class="swiper-slide-caption">
                        <div class="container">
                            <div data-caption-animate="fadeInDown" class="swiper-caption-wrap">
                                <p data-caption-animate="fadeIn" data-caption-delay="800" class="h3">@slider.Name</p>
                                <hr data-caption-animate="fadeIn" data-caption-delay="800">
                                <p data-caption-animate="fadeIn" data-caption-delay="800" class="hidden-xs">
                                    @(slider.Description.Length > 44 ? slider.Description.Substring(0, 44) + " ..." : slider.Description)
                                </p>
                                <div data-caption-animate="fadeIn" data-caption-delay="800" class="price text-ubold">
                                    $@slider.Price
                                    <span>/@slider.OrderDayOrMoth</span>
                                </div>
                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@slider.Id" data-caption-animate="fadeIn" data-caption-delay="800" class="btn btn-sm btn-sushi">More</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- Swiper Navigation-->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<section class="section-sm section-bottom-0 bg-dark">
    <div class="container position-margin-top undefined">
        <div class="search-form-wrap bg-white container-shadow">
            <h3>Find Your Home</h3>
            <div class="form-variant-1">
                <div class="form-group">
                    <form asp-action="Index" asp-controller="Product" asp-route-categoryId="@Model.Pagination.CategoryId" asp-route-minBaths="@Model.Pagination.MinBaths" asp-route-minBeds="@Model.Pagination.MinBeds"
                          asp-route-minArea="@Model.Pagination.MinArea" asp-route-maxArea="@Model.Pagination.MaxArea"
                          asp-route-minPrice="@Model.Pagination.MinPrice" asp-route-maxPrice="@Model.Pagination.MaxPrice"
                          asp-route-order="1">
                        <label for="search" class="form-label">Search now</label>
                        <input type="text" name="search" placeholder="Search now" value="@(Model.Pagination.Search == null? "":Model.Pagination.Search)" class="form-control">
                    </form>
                </div>
                <div class="form-group">
                    <form asp-action="Index" asp-controller="Shop" asp-route-minBaths="@Model.Pagination.MinBaths" asp-route-minBeds="@Model.Pagination.MinBeds"
                          asp-route-minArea="@Model.Pagination.MinArea" asp-route-maxArea="@Model.Pagination.MaxArea"
                          asp-route-order="1" asp-route-minPrice="@Model.Pagination.MinPrice" asp-route-maxPrice="@Model.Pagination.MaxPrice"
                          asp-route-search="@Model.Pagination.Search">
                        <label for="categoryId" class="form-label">Categories</label>
                        <select name="categoryId" class="form-control select-filter">
                            <option value="">Any</option>
                            @foreach (var category in Model.Pagination.Item.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </form>
                </div>
                <div class="form-group width-1">
                    <span>
                        Price (USD)
                        <br>
                    </span>
                    <div class="form-inline-flex-xs">
                        <form asp-action="Index" asp-controller="Product" asp-route-categoryId="@Model.Pagination.CategoryId" asp-route-minBaths="@Model.Pagination.MinBaths" asp-route-minBeds="@Model.Pagination.MinBeds"
                              asp-route-minArea="@Model.Pagination.MinArea" asp-route-maxArea="@Model.Pagination.MaxArea"
                              asp-route-order="1" asp-route-search="@Model.Pagination.Search" asp-route-maxPrice="@Model.Pagination.MaxPrice" class="">
                            <input placeholder="Min Price" type="number" name="minPrice" value="@(Model.Pagination.MinPrice == null? 0:Model.Pagination.MinPrice)" style="width:90%;" class="form-control">
                        </form>
                        <span class="text-abbey dash">—</span>
                        <form asp-action="Index" asp-controller="Product" asp-route-categoryId="@Model.Pagination.CategoryId" asp-route-minBaths="@Model.Pagination.MinBaths" asp-route-minBeds="@Model.Pagination.MinBeds"
                              asp-route-minArea="@Model.Pagination.MinArea" asp-route-maxArea="@Model.Pagination.MaxArea"
                              asp-route-order="1" asp-route-search="@Model.Pagination.Search" asp-route-minPrice="@Model.Pagination.MinPrice" class="">
                            <input placeholder="Max Price" type="number" name="maxPrice" value="@(Model.Pagination.MaxPrice == null? 0:Model.Pagination.MaxPrice)" style="width:90%;" class="form-control">
                        </form>

                    </div>
                </div>
                <div class="form-group width-1">
                    <span>
                        Area (Sq Ft)
                        <br>
                    </span>
                    <div class="form-inline-flex-xs">
                        <form asp-action="Index" asp-controller="Product" asp-route-categoryId="@Model.Pagination.CategoryId" asp-route-minBaths="@Model.Pagination.MinBaths" asp-route-minBeds="@Model.Pagination.MinBeds"
                              asp-route-minPrice="@Model.Pagination.MinPrice" asp-route-maxPrice="@Model.Pagination.MaxPrice"
                              asp-route-order="1" asp-route-search="@Model.Pagination.Search" asp-route-maxArea="@Model.Pagination.MaxArea" class="">
                            <input placeholder="Min Area" type="number" name="minArea" value="@(Model.Pagination.MinArea == null? 0:Model.Pagination.MinArea)" style="width:90%;" class="form-control">
                        </form>
                        <span class="text-abbey dash">—</span>
                        <form asp-action="Index" asp-controller="Product" asp-route-categoryId="@Model.Pagination.CategoryId" asp-route-minBaths="@Model.Pagination.MinBaths" asp-route-minBeds="@Model.Pagination.MinBeds"
                              asp-route-order="1" asp-route-search="@Model.Pagination.Search" asp-route-minArea="@Model.Pagination.MinArea" class="">
                            <input placeholder="Max Area" type="number" name="maxArea" value="@(Model.Pagination.MaxArea == null? 0:Model.Pagination.MaxArea)" style="width:90%;" class="form-control">
                        </form>
                    </div>
                </div>
                <div class="form-group width-2">
                    <form asp-action="Index" asp-controller="Product" asp-route-categoryId="@Model.Pagination.CategoryId"
                          asp-route-minArea="@Model.Pagination.MinArea" asp-route-maxArea="@Model.Pagination.MaxArea"
                          asp-route-minPrice="@Model.Pagination.MinPrice" asp-route-maxPrice="@Model.Pagination.MaxPrice"
                          asp-route-order="1" asp-route-search="@Model.Pagination.Search" asp-route-minBeds="@Model.Pagination.MinBeds" class="">
                        <label for="minBeds" class="form-label">Min Beds</label>
                        <input type="number" placeholder="Min Beds" name="minBeds" value="@(Model.Pagination.MinBeds == null? 0:Model.Pagination.MinBeds)" style="width:90%;" class="form-control">
                    </form>
                </div>
                <div class="form-group width-2">
                    <form asp-action="Index" asp-controller="Product" asp-route-categoryId="@Model.Pagination.CategoryId"
                          asp-route-minArea="@Model.Pagination.MinArea" asp-route-maxArea="@Model.Pagination.MaxArea"
                          asp-route-minPrice="@Model.Pagination.MinPrice" asp-route-maxPrice="@Model.Pagination.MaxPrice"
                          asp-route-order="1" asp-route-search="@Model.Pagination.Search" asp-route-minBaths="@Model.Pagination.MinBaths" class="">
                        <label for="minBaths" class="form-label">Min Baths</label>
                        <input type="number" placeholder="Min Baths" name="minBaths" value="@(Model.Pagination.MinBaths == null? 0:Model.Pagination.MinBaths)" style="width:90%;" class="form-control">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-md text-center text-sm-left bg-dark">
    <div class="container">
        <h2>Popular categories</h2>
        <hr>
        <div class="row offset-11">
            @await Component.InvokeAsync("HomeCategory")
        </div>
    </div>
</section>
<!--Section Recent Properties-->

<section class="section-md text-center text-sm-left">
    <div class="container">
        <h2>Recent Properties</h2>
        <hr>
        <div class="row clearleft-custom">
            @foreach (var product in Model.Pagination.Item.Products.Skip(3).Take(6))
            {
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail thumbnail-3">
                        <a asp-action="Detail" asp-controller="Product" asp-route-id="@product.Id" class="img-link">
                            <img src="@product.Images.FirstOrDefault(x => x.IsPrimary == true).Url" alt="@product.Name" width="370" height="250">
                        </a>
                        <div class="caption">
                            <h4>
                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@product.Id" class="text-sushi">@product.Name</a>
                            </h4>
                            <span class="thumbnail-price h5">
                                $@product.Price
                                <span class="mon text-regular">/@product.OrderDayOrMoth</span>
                                <a style="margin-left:145px;" asp-action="AddWishList" asp-controller="Favorite" asp-route-id="@product.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                    </svg>
                                </a>
                            </span>
                            <ul class="describe-1">
                                <li>
                                    <span class="icon-square icon-sm">
                                        <svg x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100" xml:space="preserve">
                                        <g>
                                        <path d="M3.6,75.7h3.6V7.3l85.7-0.1v85.3l-16.7-0.1l0-16.7c0-0.9-0.4-1.9-1-2.5c-0.7-0.7-1.6-1-2.5-1h-69V75.7h3.6                          H3.6v3.6H69L69,96c0,2,1.6,3.6,3.6,3.6l23.8,0.1c1,0,1.9-0.4,2.5-1c0.7-0.7,1-1.6,1-2.5V3.6c0-1-0.4-1.9-1-2.5                          c-0.7-0.7-1.6-1-2.5-1L3.6,0.1C1.6,0.2,0,1.7,0,3.7v72c0,0.9,0.4,1.9,1,2.5c0.7,0.7,1.6,1,2.5,1V75.7z"></path>
                                        <path d="M38.1,76.9v-9.5c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v9.5c0,1.3,1.1,2.4,2.4,2.4                          C37,79.3,38.1,78.2,38.1,76.9"></path>
                                        <path d="M38.1,50.7V15c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v35.7c0,1.3,1.1,2.4,2.4,2.4                          C37,53.1,38.1,52.1,38.1,50.7"></path>
                                        <path d="M2.4,38.8h33.3c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H2.4c-1.3,0-2.4,1.1-2.4,2.4                          C0,37.8,1.1,38.8,2.4,38.8"></path>
                                        <path d="M35.7,46h31c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4h-31c-1.3,0-2.4,1.1-2.4,2.4                          C33.3,44.9,34.4,46,35.7,46"></path>
                                        <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                        <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                        <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                          C79.9,46,81,44.9,81,43.6"></path>
                                        <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                            C79.9,46,81,44.9,81,43.6"></path>
                                                                                            </g>
                                                                                          </svg>
                                    </span>@product.Area sq ft
                                </li>
                                <li>
                                    <span class="icon icon-sm icon-primary hotel-icon-10"></span>@product.Bathrooms bathrooms
                                </li>
                            </ul>
                            <ul class="describe-2">
                                <li>
                                    <span class="icon icon-sm icon-primary hotel-icon-05"></span>@product.Bedrooms bedrooms
                                </li>
                                <li>
                                    <span class="icon icon-sm icon-primary hotel-icon-26"></span>@product.Garages garages
                                </li>
                            </ul>
                            <p class="text-abbey">@(product.Description.Length > 44 ? product.Description.Substring(0, 44) + " ..." : product.Description)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-sushi offset-11">view all properties</a>
    </div>
</section>
<!--Section Our Advantages-->

<section class="section-md bg-gray text-center text-md-left">
    <div class="container">
        <h2>Our Advantages</h2>
        <hr>
        <div class="row flow-offset-8">
            <div class="col-sm-6 col-md-3">
                <div class="media media-mod-6">
                    <div class="media-left">
                        <span class="@setting["Service1Icon"]"></span>
                    </div>
                    <div class="media-body">
                        <h4>@setting["Service1"]</h4>
                        <p>@setting["Service1Text"]</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="media media-mod-6">
                    <div class="media-left">
                        <span class="@setting["Service2Icon"]"></span>
                    </div>
                    <div class="media-body">
                        <h4>@setting["Service2"]</h4>
                        <p>@setting["Service2Text"]</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="media media-mod-6">
                    <div class="media-left">
                        <span class="@setting["Service3Icon"]"></span>
                    </div>
                    <div class="media-body">
                        <h4>@setting["Service3"]</h4>
                        <p>@setting["Service3Text"]</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="media media-mod-6">
                    <div class="media-left">
                        <span class="@setting["Service4Icon"]"></span>
                    </div>
                    <div class="media-body">
                        <h4>@setting["Service4"]</h4>
                        <p>@setting["Service4Text"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section our team-->

<section class="section-md">
    <div class="container">
        <h2>Our Real Estate Agents</h2>
        <hr>
        <!-- Owl Carousel-->
        <div data-items="1" data-xs-items="2" data-sm-items="2" data-md-items="3" data-stage-padding="0" data-loop="false" data-margin="30" data-dots="true" data-autoplay="true" class="owl-carousel owl-carousel-mod-3">
            @foreach (var agent in Model.Agents)
            {
                <div class="owl-item">
                    <div class="team-member">
                        <div class="media media-mod-3">
                            <div class="media-left img-width-auto">
                                <img src="@agent.Img" alt="@agent.Name" style="width:100px; height:100px;" width="100" height="100">
                            </div>
                            <div class="media-body">
                                <h5 class="text-sushi">@agent.Name @agent.Surname</h5>
                                <p>@agent.Name @agent.Surname</p>
                                <dl class="dl-horizontal-mod-1 text-ubold text-abbey">
                                    <dt>tel.</dt>
                                    <dd>
                                        <a href="@agent.PhoneNumber">@agent.PhoneNumber</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <p>@(agent.About.Length > 44 ? agent.About.Substring(0, 44) + " ..." : agent.About)</p>
                        <a asp-action="Agent" asp-controller="Agency" asp-route-id="@agent.Id" class="btn btn-sm btn-primary">Get in touch</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
