 @inject LayoutServices service

 @{
     Dictionary<string, string> setting = await service.GetSettingsAsync();
 }

<!-- Page Header-->
<header class="page-head rd-navbar-wrap header_corporate">
    <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" data-device-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
         data-lg-device-layout="rd-navbar-fullwidth" data-stick-up-offset="100px">
        <!--RD Navbar Panel-->
        <div class="rd-navbar-top-panel">
            <div class="rd-navbar-top-panel-wrap">
                <dl class="dl-horizontal-mod-1 login">

                    @if (User.Identity.IsAuthenticated)
                    {
                        @await Component.InvokeAsync("AppUser")

                        @if (User.IsInRole(UserRoles.Agent.ToString()))
                        {
                            <dd>
                                <a asp-action="Create" asp-controller="Product" asp-area="Admin" asp-route-returnurl="@Context.Request.Path.Value" class="text-sushi">Create Product</a>
                            </dd>
                        }
                        @if (User.IsInRole(UserRoles.Admin.ToString()) || User.IsInRole(UserRoles.Moderator.ToString()))
                        {
                            <dd>
                                <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="text-sushi">Admin Panel</a>
                            </dd>
                        }
                        <br>
                        <dt>
                            <span class="mdi mdi-login icon-xxs-mod-2"></span>
                        </dt>
                        <dd>
                            <a asp-action="Logout" asp-controller="Account" class="text-sushi">Log-out</a>
                        </dd>
                    }
                    else
                    {
                        <dd>
                            <a asp-action="Login" asp-controller="Account" class="text-sushi">Login/Registration</a>
                        </dd>
                    }
                </dl>
                <div class="top-panel-inner">
                    <dl class="dl-horizontal-mod-1">
                        <dt>
                            <span class="@setting["PhoneIcon"]"></span>
                        </dt>
                        <dd>
                            <a href="@setting["Phone"]">@setting["Phone"]</a>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal-mod-1">
                        <dt>
                            <span class="@setting["EmailIcon"]"></span>
                        </dt>
                        <dd>
                            <a href="@setting["Email"]">@setting["Email"]</a>
                        </dd>
                    </dl>
                    <address>
                        <dl class="dl-horizontal-mod-1">
                            <dt>
                                <span class="@setting["AddressIcon"]"></span>
                            </dt>
                            <dd>
                                <a href="@setting["Address"]" class="inset-11">@setting["Address"]</a>
                            </dd>
                        </dl>
                    </address>
                </div>
                <ul class="list-inline">
                    <li>
                        <a href="@setting["Facebook"]" class="@setting["FacebookIcon"]"></a>
                    </li>
                    <li>
                        <a href="@setting["Twitter"]" class="@setting["TwitterIcon"]"></a>
                    </li>
                    <li>
                        <a href="@setting["Pinterest"]" class="@setting["PinterestIcon"]"></a>
                    </li>
                    <li>
                        <a href="@setting["GooglePlus"]" class="@setting["GooglePlusIcon"]"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rd-navbar-inner inner-wrap">
            <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle">
                    <span></span>
                </button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand">
                    <a asp-action="Index" asp-controller="Home" asp-area="" class="brand-name">
                        <img src="~/assets/images/@setting["Logo"]" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                    <li class="">
                        <a asp-action="Index" asp-controller="Home" asp-area="">Home</a>
                    </li>
                    <li class="">
                        <a asp-action="Index" asp-controller="Product">Catalog</a>
                    </li>
                    @await Component.InvokeAsync("Agency")
                    <li class="">
                        <a asp-action="FAQ" asp-controller="Home" asp-area="">FAQ</a>
                    </li>
                    <li class="">
                        <a asp-action="Index" asp-controller="Blog">Blogs</a>
                    </li>
                    @await Component.InvokeAsync("Favorite")
                    <li class="rd-navbar-bottom-panel">
                        <div class="rd-navbar-bottom-panel-wrap">
                            <dl class="dl-horizontal-mod-1 login">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @await Component.InvokeAsync("AppUser")

                                    @if (User.IsInRole(UserRoles.Agent.ToString()))
                                    {
                                        <dd>
                                            <a asp-action="Create" asp-controller="Product" asp-route-returnurl="@Context.Request.Path.Value" class="text-sushi">Create Product</a>
                                        </dd>
                                    }
                                    <br>
                                    <dt>
                                        <span class="mdi mdi-login icon-xxs-mod-2"></span>
                                    </dt>
                                    <dd>
                                        <a asp-action="Logout" asp-controller="Account" class="text-sushi">Log-out</a>
                                    </dd>
                                    @if (User.IsInRole(UserRoles.Admin.ToString()) || User.IsInRole(UserRoles.Moderator.ToString()))
                                    {
                                        <dd>
                                            <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="text-sushi">Admin Panel</a>
                                        </dd>
                                    }
                                }
                                else
                                {
                                    <dd>
                                        <a asp-action="Login" asp-controller="Account" class="text-sushi">Login/Registration</a>
                                    </dd>
                                }
                            </dl>
                            <div class="top-panel-inner">
                                <dl class="dl-horizontal-mod-1">
                                    <dt>
                                        <span class="@setting["PhoneIcon"]"></span>
                                    </dt>
                                    <dd>
                                        <a href="@setting["Phone"]">@setting["Phone"]</a>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal-mod-1">
                                    <dt>
                                        <span class="@setting["EmailIcon"]"></span>
                                    </dt>
                                    <dd>
                                        <a href="@setting["Email"]">@setting["Email"]</a>
                                    </dd>
                                </dl>
                                <address>
                                    <dl class="dl-horizontal-mod-1">
                                        <dt>
                                            <span class="@setting["AddressIcon"]"></span>
                                        </dt>
                                        <dd>
                                            <a href="@setting["Address"]" class="inset-11">@setting["Address"]</a>
                                        </dd>
                                    </dl>
                                </address>
                            </div>
                            <ul class="list-inline">
                                <li>
                                    <a href="@setting["Facebook"]" class="@setting["FacebookIcon"]"></a>
                                </li>
                                <li>
                                    <a href="@setting["Twitter"]" class="@setting["TwitterIcon"]"></a>
                                </li>
                                <li>
                                    <a href="@setting["Pinterest"]" class="@setting["PinterestIcon"]"></a>
                                </li>
                                <li>
                                    <a href="@setting["GooglePlus"]" class="@setting["GooglePlusIcon"]"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>