@inject LayoutServices service

@{
    Dictionary<string, string> setting = await service.GetSettingsAsync();
}

<footer class="page-foot text-left bg-gray">
    <section class="footer-content">
        <div class="container">
            <div class="row flow-offset-3">
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <p>@setting["Slogan"]</p>
                    <address class="address">
                        <dl>
                            <dt>Address:</dt>
                            <dd>@setting["Address"]</dd>
                        </dl>
                        <dl class="dl-horizontal-mod-1">
                            <dt>Phone</dt>
                            <dd>
                                <a href="@setting["Phone"]" class="text-primary">@setting["Phone"]</a>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal-mod-1">
                            <dt>Fax</dt>
                            <dd>
                                <a href="@setting["Fax"]" class="text-primary">@setting["Fax"]</a>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal-mod-1">
                            <dt>Email</dt>
                            <dd>
                                <a href="@setting["Email"]" class="text-primary">@setting["Email"]</a>
                            </dd>
                        </dl>
                    </address>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <h6 class="text-ubold">Pages</h6>
                    <ul class="list-marked well6 text-left">
                        <li>
                            <a asp-action="Index" asp-controller="Home" asp-area="">Home</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Product">Catalog</a>
                        </li>
                        <li>
                            <a asp-action="FAQ" asp-controller="Home" asp-area="">FAQ</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Blog">Blogs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="rd-navbar-brand">
                <a asp-action="Index" asp-controller="Home" asp-area="" class="brand-name">
                    <img src="~/assets/images/@setting["Logo"]" alt="Logo">
                </a>
            </div>
        </div>
    </section>
    <section class="copyright">
        <div class="container">
            <p class="pull-sm-left">
                ©
                <span id="copyright-year"></span> All Rights Reserved
                <a asp-action="TermsService" asp-controller="Home">Terms of Use and Privacy Policy</a>
            </p>
            <ul class="list-inline pull-sm-right">
                <li>
                    <a href="@setting["Facebook"]" class="@setting["FacebookIcon"]"></a>
                </li>
                <li>
                    <a href="@setting["Twitter"]" class="@setting["TwitterIcon"]"></a>
                </li>
                <li>
                    <a href="@setting["Pinterest"]" class="@setting["PinterestIcon"]"></a>
                </li>
                <li>
                    <a href="@setting["GooglePlus"]" class="@setting["GooglePlusIcon"]"></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- Rd Mailform result field-->
</footer>
<!-- {%FOOTER_LINK}-->
