@model GetProductVM

<!-- Section Title Breadcrumbs-->
<section class="section-full text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Single Property Page</h1>
                <p></p>
                <ol class="breadcrumb">
                    <li>
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Product">Catalog</a>
                    </li>
                    <li class="active">@Model.Name</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- Section Catalog Single Left-->
<section class="bg-dark section-sm section-sm-mod-1 text-left">
    <div class="container">
        <div class="row flow-offset-7">
            <div asp-validation-summary="All" class="m-1 text-danger"></div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <p>Agent</p>
                <a asp-action="Agent" asp-controller="Agency" asp-route-id="@Model.ProductUser.Id" class="h5 text-sushi text-regular">@Model.ProductUser.Name @Model.ProductUser.Surname</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <p>Location</p>
                <p class="h5 text-regular">@Model.Address</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 col-lg-offset-1">
                <p>Price</p>
                <p class="thumbnail-price h5">
                    $@Model.Price
                    <span class="mon text-regular">/@Model.OrderDayOrMoth</span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-sm section-sm-mod-2 text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <!-- Slick Carousel-->
                <div data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-xs-items="1" data-photo-swipe-gallery="gallery" data-child="#child-carousel" data-for=".thumbnail-carousel" class="slick-slider carousel-parent">
                    @foreach (var image in Model.Images)
                    {
                        <a data-photo-swipe-item="" data-size="1200x743" href="@image.Url" class="item">
                            <img src="@image.Url" style="width: 770px; height: 513px;" alt="" width="770" height="513">
                        </a>
                    }
                </div>
                <div id="child-carousel" data-for=".carousel-parent" data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-items="2" data-xs-items="4" data-sm-items="4" data-md-items="5" data-lg-items="5" data-slide-to-scroll="1" class="slick-slider thumbnail-carousel">
                    @foreach (var image in Model.Images)
                    {
                        <div class="item">
                            <div class="product-thumbnail">
                                <img src="@image.Url" alt="@Model.Name" style="width:130px; height:86px;" width="130" height="86">
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="border-bottom">Overview</h4>
                        <div class="table-mobile offset-11">
                            <table class="table table-default">
                                <tbody>
                                    <tr>
                                        <td>Area</td>
                                        <td>@Model.Area sq ft</td>
                                    </tr>
                                    <tr>
                                        <td>Bedrooms</td>
                                        <td>@Model.Bedrooms</td>
                                    </tr>
                                    <tr>
                                        <td>Bathrooms</td>
                                        <td>@Model.Bathrooms</td>
                                    </tr>
                                    <tr>
                                        <td>Garages</td>
                                        <td>@Model.Garages</td>
                                    </tr>
                                    <tr>
                                        <td>Features</td>
                                        <td>
                                            @foreach (var features in Model.Features)
                                            {
                                                @features.Name

                                                @(features != Model.Features[Model.Features.Count - 1] ? ", " : "")
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Year Built</td>
                                        <td>@Model.YearBuilt</td>
                                    </tr>
                                    <tr>
                                        <td>Lot Size</td>
                                        <td>@Model.LotSize</td>
                                    </tr>
                                    @if (!string.IsNullOrWhiteSpace(Model.SchoolDistrict))
                                    {
                                        <tr>
                                            <td>School District</td>
                                            <td>@Model.SchoolDistrict @Model.SchoolDistrictPhone</td>
                                        </tr>
                                        if (Model.HighSchool)
                                        {
                                            <tr>
                                                <td>High School</td>
                                                <td>Call School District</td>
                                            </tr>
                                        }
                                        if (Model.MiddleSchool)
                                        {
                                            <tr>
                                                <td>Middle School</td>
                                                <td>Call School District</td>
                                            </tr>
                                        }
                                        if (Model.ElementarySchool)
                                        {
                                            <tr>
                                                <td>Elementary School</td>
                                                <td>Call School District</td>
                                            </tr>
                                        }
                                    }

                                    <tr>
                                        <td>Parking Type</td>
                                        <td>
                                            @foreach (var parkingTypes in Model.ParkingTypes)
                                            {
                                                @parkingTypes.Name

                                                @(parkingTypes != Model.ParkingTypes[Model.ParkingTypes.Count - 1] ? ", " : "")
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Room Count</td>
                                        <td>@Model.RoomCount</td>
                                    </tr>
                                    <tr>
                                        <td>Roof Type</td>
                                        <td>
                                            @foreach (var roofTypes in Model.RoofTypes)
                                            {
                                                @roofTypes.Name

                                                @(roofTypes != Model.RoofTypes[Model.RoofTypes.Count - 1] ? ", " : "")
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>View Type</td>
                                        <td>
                                            @foreach (var viewTypes in Model.ViewTypes)
                                            {
                                                @viewTypes.Name

                                                @(viewTypes != Model.ViewTypes[Model.ViewTypes.Count - 1] ? ", " : "")
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Exterior Type</td>
                                        <td>
                                            @foreach (var exteriorTypes in Model.ExteriorTypes)
                                            {
                                                @exteriorTypes.Name

                                                @(exteriorTypes != Model.ExteriorTypes[Model.ExteriorTypes.Count - 1] ? ", " : "")
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h4 class="border-bottom offset-8">Description</h4>
                        <p>
                            @{
                                for (int i = 0; i < Model.Description.Length; i += 123)
                                {
                                    int remainingLength = Math.Min(123, Model.Description.Length - i);
                                    string substring = Model.Description.Substring(i, remainingLength);

                                    @Html.Raw(substring)

                                    if (i + remainingLength < Model.Description.Length)
                                    {
                                        <br>
                                    }
                                }
                            }
                        </p>
                        <h4 class="border-bottom offset-8">Comments</h4>

                        @foreach (var productComment in Model.Commnets)
                        {
                            <div class="media media-mod-2 comment">
                                <div class="media-left round">
                                    <img src="@productComment.CommentUser.Img" alt="@productComment.CommentUser.Name" style="width:70px;height:70px;" width="70" height="70" class="round">
                                </div>
                                <div class="media-body">
                                    <p class="h6 text-sushi text-ubold">@productComment.CommentUser.Name @productComment.CommentUser.Surname</p>
                                    <time datetime="2016" class="fa-calendar">@productComment.CreateAt.ToString("MMM dd, yyyy 'at' h:mm tt")</time>
                                    <p class="text-light">@productComment.Comment</p>
                                    <form class="text-left offset-11" asp-action="Reply" asp-controller="Product" asp-route-productId="@Model.Id" asp-route-productCommnetId="@productComment.Id">
                                        <div class="col-xs-9">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <button type="submit" style="border:none;">
                                                    <span class="fa-mail-reply icon"></span>
                                                    <span class="text-sushi">Reply</span>
                                                </button>
                                            }
                                            else
                                            {
                                                <a asp-action="Login" asp-controller="Account" style="border:none;">
                                                    <span class="fa-mail-reply icon"></span>
                                                    <span class="text-sushi">Reply</span>
                                                </a>
                                            }
                                            <div class="form-group">
                                                <label name="comment" class="form-label">Enter your message</label>
                                                <textarea name="comment" class="form-control" value="comment"
                                                          pattern="^[A-Za-z0-9\s,.]+$" title="Comment can only contain letters, numbers, spaces, commas, and periods."></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            foreach (var productReply in productComment.Replies)
                            {
                                <div class="media media-mod-2 comment comment-repost">
                                    <div class="media-left round">
                                        <img src="@productReply.ReplyUser.Img" alt="@productReply.ReplyUser.Name" style="width:70px;height:70px;" width="70" height="70" class="round">
                                    </div>
                                    <div class="media-body">
                                        <p class="h6 text-sushi text-ubold">@productReply.ReplyUser.Name @productReply.ReplyUser.Surname</p>
                                        <time datetime="2016" class="fa-calendar">@productReply.CreateAt.ToString("MMM dd, yyyy 'at' h:mm tt")</time>
                                        <p class="text-light">@productReply.ReplyComment</p>
                                        <form class="text-left offset-11" asp-action="Reply" asp-controller="Product" asp-route-productId="@Model.Id" asp-route-productCommnetId="@productReply.Id">
                                            <div class="col-xs-9">
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <button type="submit" style="border:none;">
                                                        <span class="fa-mail-reply icon"></span>
                                                        <span class="text-sushi">Reply</span>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <a asp-action="Login" asp-controller="Account" style="border:none;">
                                                        <span class="fa-mail-reply icon"></span>
                                                        <span class="text-sushi">Reply</span>
                                                    </a>
                                                }
                                                <div class="form-group">
                                                    <label name="comment" class="form-label">Enter your message</label>
                                                    <textarea name="comment" class="form-control" value="comment"
                                                              pattern="^[A-Za-z0-9\s,.]+$" title="Comment can only contain letters, numbers, spaces, commas, and periods."></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                        <h4 class="border-bottom offset-8">Send a Comment</h4>
                        <!-- RD Mailform-->
                        <form class="text-left offset-11" asp-action="Comment" asp-controller="Product" asp-route-productId="@Model.Id">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label name="comment" class="form-label">Enter your message</label>
                                        <textarea name="comment" class="form-control" value="comment"
                                                  pattern="^[A-Za-z0-9\s,.]+$" title="Comment can only contain letters, numbers, spaces, commas, and periods."></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <button type="submit" class="btn btn-sushi btn-sm">Comment</button>
                                    }
                                    else
                                    {
                                        <a asp-action="Login" asp-controller="Account" class="btn btn-sushi btn-sm">Comment</a>
                                    }
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="sidebar sidebar-mod-1">
                    <div class="sidebar-module">
                        <h4 class="border-bottom">Request a Showing</h4>
                        <p>You can contact us any way that is convenient for you. We would be happy to answer your questions.</p>
                        <!-- RD Mailform-->


                        <form asp-action="AgentMessage" asp-controller="Product" asp-route-productId="@Model.Id" asp-route-agentId="@Model.ProductUser.Id" class="rd-mailform text-left offset-11">
                            <div class="form-group">
                                <label for="message" class="form-label">Message</label>
                                <textarea name="message" placeholder="Hello! I`m interested in 7758 Laguna heights Court, San Francisco, MA 02127. Please contact me with more information." class="form-control min-height"></textarea>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <button type="submit" class="btn btn-sushi btn-sm">Send message</button>
                            }
                            else
                            {
                                <a asp-action="Login" asp-controller="Account" class="btn btn-sushi btn-sm">Send message</a>
                            }
                        </form>


                    </div>
                    <div class="sidebar-module">
                        <h4 class="border-bottom">Agent Information</h4>
                        <div class="media media-mod-3">
                            <div class="media-left img-width-auto">
                                <img src="@Model.ProductUser.Img" alt="@Model.ProductUser.Name" style="width:100px;height:100px; border-radius: 7px;" width="100" height="100">
                            </div>
                            <div class="media-body">
                                <h5 class="text-sushi">@Model.ProductUser.Name @Model.ProductUser.Surname</h5>
                                <dl class="dl-horizontal-mod-1 text-ubold text-abbey">
                                    <dt>tel.</dt>
                                    <dd>
                                        <a href="@Model.ProductUser.PhoneNumber">@Model.ProductUser.PhoneNumber</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <p>@(Model.ProductUser.About.Length > 44 ? Model.ProductUser.About.Substring(0, 44) + " ..." : Model.ProductUser.About)</p>
                        <a asp-action="Agent" asp-controller="Agency" asp-route-id="@Model.ProductUser.Id" class="btn btn-primary btn-sm">get in touch</a>
                    </div>
                    <div class="sidebar-module">
                        <h4 class="border-bottom">Share</h4>
                        <div class="icon-group">
                            <a href="@Model.FaceLink" class="icon icon-sm icon-social fa-facebook"></a>
                            <a href="@Model.TwitLink" class="icon icon-sm icon-social fa-twitter"></a>
                            @if (!string.IsNullOrWhiteSpace(Model.GoogleLink))
                            {
                                <a href="@Model.GoogleLink" class="icon icon-sm icon-social fa-google-plus"></a>
                            }
                        </div>
                    </div>
                    <div class="sidebar-module">
                        <h4>Recent Properties</h4>
                        @await Component.InvokeAsync("DetailProducts", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>