@model PaginationVM<ProductFilterVM>

<section class="section-full section-full-mod-1 text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Catalog</h1>
                <p></p>
                <ol class="breadcrumb">
                    <li>
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li>
                    <li class="active">Catalog</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--Section Find your home-->
<section class="section-sm section-bottom-0 undefined text-left">
    <div class="container position-margin-top position-margin-top-mod-1">
        <div class="search-form-wrap bg-white container-shadow">
            <h3>Find Your Home</h3>
            <form action="#" name="search-form" class="form-variant-1">
                <div class="form-group">
                    <label for="keyword" class="form-label">Keyword</label>
                    <input id="keyword" type="text" name="keyword" placeholder="Any" class="form-control">
                </div>
                <div class="form-group">
                    <label for="select-search-1" class="form-label">Location</label>
                    <select id="select-search-1" data-minimum-results-for-search="Infinity" class="form-control select-filter">
                        <option value="Any" selected="selected">Any</option>
                        <option value="Denver">Denver</option>
                        <option value="Houston">Houston</option>
                        <option value="Las Vegas">Las Vegas</option>
                        <option value="Orlando">Orlando</option>
                        <option value="Phoenix">Phoenix</option>
                        <option value="San Diego">San Diego</option>
                        <option value="Miami">Miami</option>
                        <option value="Atlanta">Atlanta</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="select-search-2" class="form-label">Property Status</label>
                    <select id="select-search-2" data-minimum-results-for-search="Infinity" class="form-control select-filter">
                        <option value="Any" selected="selected">Any</option>
                        <option value="Vacant land">Vacant land</option>
                        <option value="Commercial">Commercial</option>
                        <option value="Residential">Residential</option>
                        <option value="Homes">Homes</option>
                        <option value="Condos">Condos</option>
                        <option value="Townhouses">Townhouses</option>
                        <option value="Foreclosures">Foreclosures</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="select-search-3" class="form-label">Property Type</label>
                    <select id="select-search-3" data-minimum-results-for-search="Infinity" class="form-control select-filter">
                        <option value="Any" selected="selected">Any</option>
                        <option value="Under Construction">Under Construction</option>
                        <option value="Ready to Move">Ready to Move</option>
                    </select>
                </div>
                <div class="form-group width-1">
                    <span>
                        Price (USD)
                        <br>
                    </span>
                    <div class="form-inline-flex-xs">
                        <input id="range-1" type="text" name="range-2" class="rd-range-input-value rd-range-input-value-1 form-control">
                        <span class="text-abbey dash">—</span>
                        <input id="range-2" type="text" name="range-3" class="rd-range-input-value rd-range-input-value-2 form-control">
                    </div>
                    <div data-min="100" data-max="10000" data-start="[600, 9500]" data-step="50" data-tooltip="true" data-min-diff="100" data-input=".rd-range-input-value-1" data-input-2=".rd-range-input-value-2" class="rd-range"></div>
                </div>
                <div class="form-group width-1">
                    <span>
                        Area (Sq Ft)
                        <br>
                    </span>
                    <div class="form-inline-flex-xs">
                        <input id="range-3" type="text" name="range-2" class="rd-range-input-value rd-range-input-value-3 form-control">
                        <span class="text-abbey dash">—</span>
                        <input id="range-4" type="text" name="range-3" class="rd-range-input-value rd-range-input-value-4 form-control">
                    </div>
                    <div data-min="500" data-max="22000" data-start="[2000, 20000]" data-step="50" data-tooltip="true" data-min-diff="500" data-input=".rd-range-input-value-3" data-input-2=".rd-range-input-value-4" class="rd-range"></div>
                </div>
                <div class="form-group width-2">
                    <label for="select-search-7" class="form-label">Min Beds</label>
                    <select id="select-search-7" data-minimum-results-for-search="Infinity" class="form-control select-filter">
                        <option value="Any" selected="selected">Any</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="form-group width-2">
                    <label for="select-search-8" class="form-label">Min Baths</label>
                    <select id="select-search-8" data-minimum-results-for-search="Infinity" class="form-control select-filter">
                        <option value="Any" selected="selected">Any</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <button class="btn btn-sm btn-sushi btn-min-width-sm">Search</button>
            </form>
        </div>
    </div>
</section>
<!-- Section Catalog-->
<section class="section-md section-mod-1 text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 pull-xs-left text-center text-sm-left">
                <!-- RD SelectMenu-->
                <div class="sort-input">
                    <div class="form-group form-group-mod-1">
                        <label for="sort-1" class="form-label">Sorting</label>
                        <!--Select 2-->
                        <select id="sort-1" data-minimum-results-for-search="Infinity" class="form-control select-filter">
                            <option value="By Price" selected="selected">By Price</option>
                            <option value="By Date">By Date</option>
                            <option value="By Square">By Square</option>
                            <option value="By Location">By Location</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <div class="row clearleft-custom-5">
                    @foreach (var product in Model.Item.Products)
                    {
                        <div class="col-xs-12 col-sm-6">
                            <div class="thumbnail thumbnail-3">
                                <a href="single-property-page.html" class="img-link">
                                    <img src="@product.Images.FirstOrDefault(x => x.IsPrimary == true).Url" alt="@product.Name" width="370" height="250">
                                </a>
                                <div class="caption">
                                    <h4>
                                        <a href="single-property-page.html" class="text-sushi">@product.Name</a>
                                    </h4>
                                    <span class="thumbnail-price h5">
                                        $@product.Price
                                        <span class="mon text-regular">/@product.OrderDayOrMoth</span>
                                        <a style="margin-left:145px;" asp-action="AddWishList" asp-controller="Favorite" asp-route-id="@product.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                            </svg>
                                        </a>
                                    </span>
                                    <ul class="describe-1">
                                        <li>
                                            <span class="icon-square icon-sm">
                                                <svg x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100" xml:space="preserve">
                                                <g>
                                                <path d="M3.6,75.7h3.6V7.3l85.7-0.1v85.3l-16.7-0.1l0-16.7c0-0.9-0.4-1.9-1-2.5c-0.7-0.7-1.6-1-2.5-1h-69V75.7h3.6                          H3.6v3.6H69L69,96c0,2,1.6,3.6,3.6,3.6l23.8,0.1c1,0,1.9-0.4,2.5-1c0.7-0.7,1-1.6,1-2.5V3.6c0-1-0.4-1.9-1-2.5                          c-0.7-0.7-1.6-1-2.5-1L3.6,0.1C1.6,0.2,0,1.7,0,3.7v72c0,0.9,0.4,1.9,1,2.5c0.7,0.7,1.6,1,2.5,1V75.7z"></path>
                                                <path d="M38.1,76.9v-9.5c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v9.5c0,1.3,1.1,2.4,2.4,2.4                          C37,79.3,38.1,78.2,38.1,76.9"></path>
                                                <path d="M38.1,50.7V15c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v35.7c0,1.3,1.1,2.4,2.4,2.4                          C37,53.1,38.1,52.1,38.1,50.7"></path>
                                                <path d="M2.4,38.8h33.3c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H2.4c-1.3,0-2.4,1.1-2.4,2.4                          C0,37.8,1.1,38.8,2.4,38.8"></path>
                                                <path d="M35.7,46h31c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4h-31c-1.3,0-2.4,1.1-2.4,2.4                          C33.3,44.9,34.4,46,35.7,46"></path>
                                                <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                                <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                                <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                          C79.9,46,81,44.9,81,43.6"></path>
                                                <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                            C79.9,46,81,44.9,81,43.6"></path>
                                            </g>
                                          </svg>
                                            </span>@product.Area sq ft
                                        </li>
                                        <li>
                                            <span class="icon icon-sm icon-primary hotel-icon-10"></span>@product.Bathrooms bathrooms
                                        </li>
                                    </ul>
                                    <ul class="describe-2">
                                        <li>
                                            <span class="icon icon-sm icon-primary hotel-icon-05"></span>@product.Bedrooms bedrooms
                                        </li>
                                        <li>
                                            <span class="icon icon-sm icon-primary hotel-icon-26"></span>@product.Garages garages
                                        </li>
                                    </ul>
                                    <p class="text-abbey">@(product.Description.Length > 44 ? product.Description.Substring(0, 44) + " ..." : product.Description)</p>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-xs-12 col-sm-6">
                        <div class="thumbnail thumbnail-3">
                            <a href="single-property-page.html" class="img-link">
                                <img src="images/index-6.jpg" alt="" width="370" height="250">
                            </a>
                            <div class="caption">
                                <h4>
                                    <a href="single-property-page.html" class="text-sushi">Building: 123 on the Park</a>
                                </h4>
                                <span class="thumbnail-price h5">
                                    $4,339.00/
                                    <span class="mon text-regular">month</span>
                                </span>
                                <ul class="describe-1">
                                    <li>
                                        <span class="icon-square icon-sm">
                                            <svg x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100" xml:space="preserve">
                                            <g>
                                            <path d="M3.6,75.7h3.6V7.3l85.7-0.1v85.3l-16.7-0.1l0-16.7c0-0.9-0.4-1.9-1-2.5c-0.7-0.7-1.6-1-2.5-1h-69V75.7h3.6                          H3.6v3.6H69L69,96c0,2,1.6,3.6,3.6,3.6l23.8,0.1c1,0,1.9-0.4,2.5-1c0.7-0.7,1-1.6,1-2.5V3.6c0-1-0.4-1.9-1-2.5                          c-0.7-0.7-1.6-1-2.5-1L3.6,0.1C1.6,0.2,0,1.7,0,3.7v72c0,0.9,0.4,1.9,1,2.5c0.7,0.7,1.6,1,2.5,1V75.7z"></path>
                                            <path d="M38.1,76.9v-9.5c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v9.5c0,1.3,1.1,2.4,2.4,2.4                          C37,79.3,38.1,78.2,38.1,76.9"></path>
                                            <path d="M38.1,50.7V15c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v35.7c0,1.3,1.1,2.4,2.4,2.4                          C37,53.1,38.1,52.1,38.1,50.7"></path>
                                            <path d="M2.4,38.8h33.3c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H2.4c-1.3,0-2.4,1.1-2.4,2.4                          C0,37.8,1.1,38.8,2.4,38.8"></path>
                                            <path d="M35.7,46h31c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4h-31c-1.3,0-2.4,1.1-2.4,2.4                          C33.3,44.9,34.4,46,35.7,46"></path>
                                            <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                            <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                            <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                          C79.9,46,81,44.9,81,43.6"></path>
                                            <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                            C79.9,46,81,44.9,81,43.6"></path>
                            </g>
                          </svg>
                                        </span>1200 sq ft
                                    </li>
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-10"></span>2 bathrooms
                                    </li>
                                </ul>
                                <ul class="describe-2">
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-05"></span>4 bedrooms
                                    </li>
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-26"></span>2 garages
                                    </li>
                                </ul>
                                <p class="text-abbey">Introducing Brooklyn's most unique and genteel address: 123 on the Park. A stately, one-of-a-kind rental residence directly overlooking Brooklyn's famed Prospect Park.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="thumbnail thumbnail-3">
                            <a href="single-property-page.html" class="img-link">
                                <img src="images/index-7.jpg" alt="" width="370" height="250">
                            </a>
                            <div class="caption">
                                <h4>
                                    <a href="single-property-page.html" class="text-sushi">225 Maywood Dr, San Francisco, CA 94127</a>
                                </h4>
                                <span class="thumbnail-price h5">
                                    $2,229.00/
                                    <span class="mon text-regular">month</span>
                                </span>
                                <ul class="describe-1">
                                    <li>
                                        <span class="icon-square icon-sm">
                                            <svg x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100" xml:space="preserve">
                                            <g>
                                            <path d="M3.6,75.7h3.6V7.3l85.7-0.1v85.3l-16.7-0.1l0-16.7c0-0.9-0.4-1.9-1-2.5c-0.7-0.7-1.6-1-2.5-1h-69V75.7h3.6                          H3.6v3.6H69L69,96c0,2,1.6,3.6,3.6,3.6l23.8,0.1c1,0,1.9-0.4,2.5-1c0.7-0.7,1-1.6,1-2.5V3.6c0-1-0.4-1.9-1-2.5                          c-0.7-0.7-1.6-1-2.5-1L3.6,0.1C1.6,0.2,0,1.7,0,3.7v72c0,0.9,0.4,1.9,1,2.5c0.7,0.7,1.6,1,2.5,1V75.7z"></path>
                                            <path d="M38.1,76.9v-9.5c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v9.5c0,1.3,1.1,2.4,2.4,2.4                          C37,79.3,38.1,78.2,38.1,76.9"></path>
                                            <path d="M38.1,50.7V15c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v35.7c0,1.3,1.1,2.4,2.4,2.4                          C37,53.1,38.1,52.1,38.1,50.7"></path>
                                            <path d="M2.4,38.8h33.3c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H2.4c-1.3,0-2.4,1.1-2.4,2.4                          C0,37.8,1.1,38.8,2.4,38.8"></path>
                                            <path d="M35.7,46h31c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4h-31c-1.3,0-2.4,1.1-2.4,2.4                          C33.3,44.9,34.4,46,35.7,46"></path>
                                            <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                            <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                            <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                          C79.9,46,81,44.9,81,43.6"></path>
                                            <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                            C79.9,46,81,44.9,81,43.6"></path>
                            </g>
                          </svg>
                                        </span>1200 sq ft
                                    </li>
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-10"></span>2 bathrooms
                                    </li>
                                </ul>
                                <ul class="describe-2">
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-05"></span>4 bedrooms
                                    </li>
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-26"></span>2 garages
                                    </li>
                                </ul>
                                <p class="text-abbey">One of the original homes built at Ocean Beach.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="thumbnail thumbnail-3">
                            <a href="single-property-page.html" class="img-link">
                                <img src="images/index-8.jpg" alt="" width="370" height="250">
                            </a>
                            <div class="caption">
                                <h4>
                                    <a href="single-property-page.html" class="text-sushi">2266 48th Ave</a>
                                </h4>
                                <span class="thumbnail-price h5">
                                    $1,339.00/
                                    <span class="mon text-regular">month</span>
                                </span>
                                <ul class="describe-1">
                                    <li>
                                        <span class="icon-square icon-sm">
                                            <svg x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100" xml:space="preserve">
                                            <g>
                                            <path d="M3.6,75.7h3.6V7.3l85.7-0.1v85.3l-16.7-0.1l0-16.7c0-0.9-0.4-1.9-1-2.5c-0.7-0.7-1.6-1-2.5-1h-69V75.7h3.6                          H3.6v3.6H69L69,96c0,2,1.6,3.6,3.6,3.6l23.8,0.1c1,0,1.9-0.4,2.5-1c0.7-0.7,1-1.6,1-2.5V3.6c0-1-0.4-1.9-1-2.5                          c-0.7-0.7-1.6-1-2.5-1L3.6,0.1C1.6,0.2,0,1.7,0,3.7v72c0,0.9,0.4,1.9,1,2.5c0.7,0.7,1.6,1,2.5,1V75.7z"></path>
                                            <path d="M38.1,76.9v-9.5c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v9.5c0,1.3,1.1,2.4,2.4,2.4                          C37,79.3,38.1,78.2,38.1,76.9"></path>
                                            <path d="M38.1,50.7V15c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v35.7c0,1.3,1.1,2.4,2.4,2.4                          C37,53.1,38.1,52.1,38.1,50.7"></path>
                                            <path d="M2.4,38.8h33.3c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H2.4c-1.3,0-2.4,1.1-2.4,2.4                          C0,37.8,1.1,38.8,2.4,38.8"></path>
                                            <path d="M35.7,46h31c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4h-31c-1.3,0-2.4,1.1-2.4,2.4                          C33.3,44.9,34.4,46,35.7,46"></path>
                                            <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                            <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                            <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                          C79.9,46,81,44.9,81,43.6"></path>
                                            <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                            C79.9,46,81,44.9,81,43.6"></path>
                            </g>
                          </svg>
                                        </span>1200 sq ft
                                    </li>
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-10"></span>2 bathrooms
                                    </li>
                                </ul>
                                <ul class="describe-2">
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-05"></span>4 bedrooms
                                    </li>
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-26"></span>2 garages
                                    </li>
                                </ul>
                                <p class="text-abbey">Classic architectural detail, truly superb floor plan &amp; strong upside potential for the next steward to restore this forever home to greatness.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="thumbnail thumbnail-3">
                            <a href="single-property-page.html" class="img-link">
                                <img src="images/index-9.jpg" alt="" width="370" height="250">
                            </a>
                            <div class="caption">
                                <h4>
                                    <a href="single-property-page.html" class="text-sushi">1336 N Occidental Blvd</a>
                                </h4>
                                <span class="thumbnail-price h5">
                                    $4,339.00/
                                    <span class="mon text-regular">month</span>
                                </span>
                                <ul class="describe-1">
                                    <li>
                                        <span class="icon-square icon-sm">
                                            <svg x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100" xml:space="preserve">
                                            <g>
                                            <path d="M3.6,75.7h3.6V7.3l85.7-0.1v85.3l-16.7-0.1l0-16.7c0-0.9-0.4-1.9-1-2.5c-0.7-0.7-1.6-1-2.5-1h-69V75.7h3.6                          H3.6v3.6H69L69,96c0,2,1.6,3.6,3.6,3.6l23.8,0.1c1,0,1.9-0.4,2.5-1c0.7-0.7,1-1.6,1-2.5V3.6c0-1-0.4-1.9-1-2.5                          c-0.7-0.7-1.6-1-2.5-1L3.6,0.1C1.6,0.2,0,1.7,0,3.7v72c0,0.9,0.4,1.9,1,2.5c0.7,0.7,1.6,1,2.5,1V75.7z"></path>
                                            <path d="M38.1,76.9v-9.5c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v9.5c0,1.3,1.1,2.4,2.4,2.4                          C37,79.3,38.1,78.2,38.1,76.9"></path>
                                            <path d="M38.1,50.7V15c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v35.7c0,1.3,1.1,2.4,2.4,2.4                          C37,53.1,38.1,52.1,38.1,50.7"></path>
                                            <path d="M2.4,38.8h33.3c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H2.4c-1.3,0-2.4,1.1-2.4,2.4                          C0,37.8,1.1,38.8,2.4,38.8"></path>
                                            <path d="M35.7,46h31c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4h-31c-1.3,0-2.4,1.1-2.4,2.4                          C33.3,44.9,34.4,46,35.7,46"></path>
                                            <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                            <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                            <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                          C79.9,46,81,44.9,81,43.6"></path>
                                            <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                            C79.9,46,81,44.9,81,43.6"></path>
                            </g>
                          </svg>
                                        </span>1200 sq ft
                                    </li>
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-10"></span>2 bathrooms
                                    </li>
                                </ul>
                                <ul class="describe-2">
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-05"></span>4 bedrooms
                                    </li>
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-26"></span>2 garages
                                    </li>
                                </ul>
                                <p class="text-abbey">Located in the heart of Silver Lake, this magnificently re-imagined Spanish bungalow is not to be missed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="thumbnail thumbnail-3">
                            <a href="single-property-page.html" class="img-link">
                                <img src="images/index-10.jpg" alt="" width="370" height="250">
                            </a>
                            <div class="caption">
                                <h4>
                                    <a href="single-property-page.html" class="text-sushi">650 Kelton Ave #201</a>
                                </h4>
                                <span class="thumbnail-price h5">
                                    $2,229.00/
                                    <span class="mon text-regular">month</span>
                                </span>
                                <ul class="describe-1">
                                    <li>
                                        <span class="icon-square icon-sm">
                                            <svg x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100" xml:space="preserve">
                                            <g>
                                            <path d="M3.6,75.7h3.6V7.3l85.7-0.1v85.3l-16.7-0.1l0-16.7c0-0.9-0.4-1.9-1-2.5c-0.7-0.7-1.6-1-2.5-1h-69V75.7h3.6                          H3.6v3.6H69L69,96c0,2,1.6,3.6,3.6,3.6l23.8,0.1c1,0,1.9-0.4,2.5-1c0.7-0.7,1-1.6,1-2.5V3.6c0-1-0.4-1.9-1-2.5                          c-0.7-0.7-1.6-1-2.5-1L3.6,0.1C1.6,0.2,0,1.7,0,3.7v72c0,0.9,0.4,1.9,1,2.5c0.7,0.7,1.6,1,2.5,1V75.7z"></path>
                                            <path d="M38.1,76.9v-9.5c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v9.5c0,1.3,1.1,2.4,2.4,2.4                          C37,79.3,38.1,78.2,38.1,76.9"></path>
                                            <path d="M38.1,50.7V15c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v35.7c0,1.3,1.1,2.4,2.4,2.4                          C37,53.1,38.1,52.1,38.1,50.7"></path>
                                            <path d="M2.4,38.8h33.3c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H2.4c-1.3,0-2.4,1.1-2.4,2.4                          C0,37.8,1.1,38.8,2.4,38.8"></path>
                                            <path d="M35.7,46h31c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4h-31c-1.3,0-2.4,1.1-2.4,2.4                          C33.3,44.9,34.4,46,35.7,46"></path>
                                            <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                            <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                            <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                          C79.9,46,81,44.9,81,43.6"></path>
                                            <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                            C79.9,46,81,44.9,81,43.6"></path>
                            </g>
                          </svg>
                                        </span>1200 sq ft
                                    </li>
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-10"></span>2 bathrooms
                                    </li>
                                </ul>
                                <ul class="describe-2">
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-05"></span>4 bedrooms
                                    </li>
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-26"></span>2 garages
                                    </li>
                                </ul>
                                <p class="text-abbey">Front-facing, single level, well-designed floor plan. Secure building in a highly DESIRABLE location!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="thumbnail thumbnail-3">
                            <a href="single-property-page.html" class="img-link">
                                <img src="images/index-11.jpg" alt="" width="370" height="250">
                            </a>
                            <div class="caption">
                                <h4>
                                    <a href="single-property-page.html" class="text-sushi">1735 N Fuller Ave #124</a>
                                </h4>
                                <span class="thumbnail-price h5">
                                    $1,339.00/
                                    <span class="mon text-regular">month</span>
                                </span>
                                <ul class="describe-1">
                                    <li>
                                        <span class="icon-square icon-sm">
                                            <svg x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100" xml:space="preserve">
                                            <g>
                                            <path d="M3.6,75.7h3.6V7.3l85.7-0.1v85.3l-16.7-0.1l0-16.7c0-0.9-0.4-1.9-1-2.5c-0.7-0.7-1.6-1-2.5-1h-69V75.7h3.6                          H3.6v3.6H69L69,96c0,2,1.6,3.6,3.6,3.6l23.8,0.1c1,0,1.9-0.4,2.5-1c0.7-0.7,1-1.6,1-2.5V3.6c0-1-0.4-1.9-1-2.5                          c-0.7-0.7-1.6-1-2.5-1L3.6,0.1C1.6,0.2,0,1.7,0,3.7v72c0,0.9,0.4,1.9,1,2.5c0.7,0.7,1.6,1,2.5,1V75.7z"></path>
                                            <path d="M38.1,76.9v-9.5c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v9.5c0,1.3,1.1,2.4,2.4,2.4                          C37,79.3,38.1,78.2,38.1,76.9"></path>
                                            <path d="M38.1,50.7V15c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v35.7c0,1.3,1.1,2.4,2.4,2.4                          C37,53.1,38.1,52.1,38.1,50.7"></path>
                                            <path d="M2.4,38.8h33.3c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H2.4c-1.3,0-2.4,1.1-2.4,2.4                          C0,37.8,1.1,38.8,2.4,38.8"></path>
                                            <path d="M35.7,46h31c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4h-31c-1.3,0-2.4,1.1-2.4,2.4                          C33.3,44.9,34.4,46,35.7,46"></path>
                                            <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                            <path d="M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4                          C76.2,44.9,77.3,46,78.6,46"></path>
                                            <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                          C79.9,46,81,44.9,81,43.6"></path>
                                            <path d="M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4                            C79.9,46,81,44.9,81,43.6"></path>
                            </g>
                          </svg>
                                        </span>1200 sq ft
                                    </li>
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-10"></span>2 bathrooms
                                    </li>
                                </ul>
                                <ul class="describe-2">
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-05"></span>4 bedrooms
                                    </li>
                                    <li>
                                        <span class="icon icon-sm icon-primary hotel-icon-26"></span>2 garages
                                    </li>
                                </ul>
                                <p class="text-abbey">This charming 2 bed and 2 bath townhome has been beautifully renovated and ready for its next owners.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center text-sm-left offset-11">
                        <ul class="pagination">
                            <li class="@(Model.CurrentPage <= 1 ? "disabled" : "")">
                                @if (Model.CurrentPage > 1)
                                {
                                    <a class="fa-chevron-left" asp-route-page="@(Model.CurrentPage -1)" asp-action="Index" asp-controller="Blog"></a>
                                }
                            </li>
                            @for (int i = 1; i <= Model.TotalPage; i++)
                            {
                                <li class="@(Model.CurrentPage == i ? "disabled" : "")">
                                    <a asp-action="Index" asp-route-page="@i" asp-controller="Blog">@i</a>
                                </li>
                            }
                            <li class="@(Model.CurrentPage >= Model.TotalPage ? "disabled" : "")">
                                @if (Model.CurrentPage < Model.TotalPage)
                                {
                                    <a class="fa-chevron-right" asp-route-page="@(Model.CurrentPage +1)" asp-action="Index" asp-controller="Blog"></a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>