@model GetProductVM
@Html.Raw(TempData["Reply"])

@foreach (var productComment in Model.Commnets)
{
    <div class="media media-mod-2 comment">
        <div class="media-left round">
            <img src="@productComment.CommentUser.Img" alt="@productComment.CommentUser.Name" style="width:70px;height:70px;" width="70" height="70" class="round">
        </div>
        <div class="media-body">
            <p class="h6 text-sushi text-ubold">@productComment.CommentUser.Name @productComment.CommentUser.Surname</p>
            <time datetime="2016" class="fa-calendar">@productComment.CreateAt.ToString("MMM dd, yyyy 'at' h:mm tt")</time>
            <p class="text-light">@productComment.Comment</p>
            <form class="text-left offset-11" asp-action="Reply" asp-controller="Product" asp-route-productId="@Model.Id" asp-route-productCommnetId="@productComment.Id">
                <div class="col-xs-9">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="submit" style="border:none;">
                            <span class="fa-mail-reply icon"></span>
                            <span class="text-sushi">Reply</span>
                        </button>
                    }
                    else
                    {
                        <a asp-action="Login" asp-controller="Account" asp-route-returnurl="@Context.Request.Path.Value" style="border:none;">
                            <span class="fa-mail-reply icon"></span>
                            <span class="text-sushi">Reply</span>
                        </a>
                    }
                    <div class="form-group">
                        <label name="comment" class="form-label">Enter your message</label>
                        <textarea name="comment" class="form-control" 
                                  pattern="^[A-Za-z0-9\s,.]+$" title="Comment can only contain letters, numbers, spaces, commas, and periods."></textarea>

                    </div>
                </div>
            </form>
        </div>
    </div>
    foreach (var productReply in productComment.Replies)
    {
        <div class="media media-mod-2 comment comment-repost">
            <div class="media-left round">
                <img src="@productReply.ReplyUser.Img" alt="@productReply.ReplyUser.Name" style="width:70px;height:70px;" width="70" height="70" class="round">
            </div>
            <div class="media-body">
                <p class="h6 text-sushi text-ubold">@productReply.ReplyUser.Name @productReply.ReplyUser.Surname</p>
                <time datetime="2016" class="fa-calendar">@productReply.CreateAt.ToString("MMM dd, yyyy 'at' h:mm tt")</time>
                <p class="text-light">@productReply.ReplyComment</p>
                <form class="text-left offset-11" asp-action="Reply" asp-controller="Product" asp-route-productId="@Model.Id" asp-route-productCommnetId="@productReply.Id">
                    <div class="col-xs-9">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button type="submit" style="border:none;">
                                <span class="fa-mail-reply icon"></span>
                                <span class="text-sushi">Reply</span>
                            </button>
                        }
                        else
                        {
                            <a asp-action="Login" asp-controller="Account" asp-route-returnurl="@Context.Request.Path.Value" style="border:none;">
                                <span class="fa-mail-reply icon"></span>
                                <span class="text-sushi">Reply</span>
                            </a>
                        }
                        <div class="form-group">
                            <label name="comment" class="form-label">Enter your message</label>
                            <textarea name="comment" class="form-control"
                                      pattern="^[A-Za-z0-9\s,.]+$" title="Comment can only contain letters, numbers, spaces, commas, and periods."></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
}
<h4 class="border-bottom offset-8">Send a Comment</h4>
<!-- RD Mailform-->
<form class="text-left offset-11" asp-action="Comment" asp-controller="Product" asp-route-productId="@Model.Id">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label name="comment" class="form-label">Enter your message</label>
                <textarea id="commentareaz" name="comment" class="form-control" value="comment"
                          pattern="^[A-Za-z0-9\s,.]+$" title="Comment can only contain letters, numbers, spaces, commas, and periods."></textarea>
                @Html.Raw(TempData["Comment"])
            </div>
        </div>
        <div class="col-xs-12">
            @if (User.Identity.IsAuthenticated)
            {
                <button type="submit" class="btn btn-sushi btn-sm commentsubmit">Comment</button>
            }
            else
            {
                <a asp-action="Login" asp-controller="Account" asp-route-returnurl="@Context.Request.Path.Value" class="btn btn-sushi btn-sm">Comment</a>
            }
        </div>
    </div>
</form>
